<div class="form">
    <h1>Registro de Ciudadano</h1>
    <form class="registration-form" action="">
        <input type="text" id="" placeholder="Nombres">
        <input type="text" id="" placeholder="Apellidos">
        <input type="text" id="" placeholder="Username">
        <input type="text" id="" placeholder="Contraseña">
        <div class="documentation">
            <select name="Tipo documento" id="">
                <option value="Tipo de documento">Tipo de documento</option>
            </select>
            <input type="text" placeholder="Número documento">
        </div>
        <select name="Género" id="">
            <option value="Género">Género</option>
            <option value="M">M</option>
            <option value="F">F</option>
            <option value="O">O</option>
        </select>
        <div class="municipality">
            <select name="Departamento" id="">
                <option value="Departamento">Departamento</option>
            </select>
            <select name="Municipio" id="">
                <option value="Municipio">Municipio</option>
            </select>
        </div>

        <div class="address">
            <select name="Barrio" id="">
                <option value="Barrio">Barrio</option>
                
            </select>
            <input type="text" id="" placeholder="Dirección">
        </div>

        <input type="submit" value="Submit" class="submit">
    </form>
</div>