<div class="jumbotron" >
    <h1>Historial</h1>
    <p>Aquí puede revisar el historial de las visitas a Establecimientos públicos</p>
</div>
<div class="filters">
    <div class="date-picker" [formGroup]="citizen_visit">
        <input formControlName="date" class="date_" type="date" name="" id="">
        <button class="filter" (click)="setDate()">Filtrar</button>
    </div>
    <div class="date-picker" [formGroup]="category_options">
        <select formControlName="choice" name="" id="">
            <option *ngFor="let cat of getCategories()" [ngValue]="cat">
                {{ cat }}
            </option>
        </select>
        <button [disabled]="category_options.invalid"  class="filter" (click)="setCategory()">Filtrar</button>
    </div>
    <div class="date-picker">
        <button class="filter-delete" (click)="deleteFilter()">Borrar filtro</button>
    </div>
</div>
<div class="container">
    <table>
        <tr>
            <th>NIT</th>
            <th>Establecimiento</th>
            <th>Categoría</th>
            <th>Fecha (AÑO-MES-DÍA)</th>
            <th>Hora</th>
            <th>Ingreso</th>
            <th>Razones</th>
        </tr>
        
        <tr *ngFor="let rows of getVisit()" >
            <td *ngFor="let cols of rows" >
                {{ cols}}
            </td>
        </tr>
        
    </table>

    <!--{{ citizen_visit.value | json }}-->
</div>