<nav>

    <a href="/">
        <div class="logo">
            <img src="assets/logoB.png" alt="Gestion de Accesos y Aforo">
        </div>
    </a>
    <div class="hamburger hide-desktop" [ngClass]="checkFlag() ? 'open' : ''" (click)="changeFlag()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="button-group hide-mobile" *ngIf="isCitizen()">
        <a class="test" href="#">Historial</a>
        <a class="about-us" href="#">Prueba</a>
        <a class="login" href="#">Código QR</a>
        <a class="register" href="#">Perfil</a>
    </div>

    <div class="button-group hide-mobile" *ngIf="isEstablishment()">
        <a class="home" href="#"> Historial</a>
        <a class="about-us" href="#">Visita con QR</a>
        <a class="login" href="#">Visita manual</a>
        <a class="login" href="#">Visita a destiempo</a>
        <a class="register" href="#">Perfil</a>
    </div>

    <div class="button-group hide-mobile" *ngIf="isHealthEntity()">
        <a class="home" href="#">Historial</a>
        <a class="about-us" href="#">Prueba nueva</a>
        <a class="register" href="#">Perfil</a>
    </div>

    <div class="button-group hide-mobile" *ngIf="isAdmin()">
        <a class="home" href="/dashboard/accounts">Deshabilitar</a>
        <a class="about-us" href="/dashboard/check-registration">Evaluar registro</a>
        <a class="login" href="/dashboard/new-admin">Crear Admin</a>
        <a class="login" href="#">Reportes</a>
        <a class="login" href="/dashboard/parameters">Parámetros</a>
        <a class="register" href="#">Perfil</a>
    </div>
    
        
</nav>

<div class="side-bar" [ngClass]="checkFlag() ? 'show-side-bar' : ''">
    <div *ngIf="isCitizen()" class="button-group-mobile" [ngClass]="checkFlag() ? 'hide-button-group':'show-button-group'">
        <a class="test" href="#">Historial</a>
        <a class="about-us" href="#">Prueba</a>
        <a class="login" href="#">Código QR</a>
        <a class="register" href="#">Perfil</a>
    </div>
    
    <div *ngIf="isEstablishment()" class="button-group-mobile" [ngClass]="checkFlag() ? 'hide-button-group':'show-button-group'">
        <a class="home" href="#"> Historial</a>
        <a class="about-us" href="#">Visita con QR</a>
        <a class="login" href="#">Visita manual</a>
        <a class="login" href="#">Visita a destiempo</a>
        <a class="register" href="#">Perfil</a>
    </div>

    <div *ngIf="isHealthEntity()" class="button-group-mobile" [ngClass]="checkFlag() ? 'hide-button-group':'show-button-group'">
        <a class="home" href="#">Historial</a>
        <a class="about-us" href="#">Prueba nueva</a>
        <a class="register" href="#">Perfil</a>
    </div>

    <div *ngIf="isAdmin()" class="button-group-mobile" [ngClass]="checkFlag() ? 'hide-button-group':'show-button-group'">
        <a class="home" href="/dashboard/accounts">Deshabilitar</a>
        <a class="about-us" href="/dashboard/check-registration">Evaluar registro</a>
        <a class="login" href="/dashboard/new-admin">Crear Admin</a>
        <a class="login" href="#">Reportes</a>
        <a class="login" href="/dashboard/parameters">Parámetros</a>
        <a class="register" href="#">Perfil</a>
    </div>
</div>
