<div class="form">
    <h1>Registro de Establecimiento</h1>
    <form [formGroup]="establishmentRegistration" class="registration-form" action="">
        <input [class.is-valid]="establishmentRegistration.get('NIT').touched && establishmentRegistration.get('NIT').invalid" formControlName="NIT" type="text" id="" placeholder="NIT">
        <input [class.is-valid]="establishmentRegistration.get('name').touched && establishmentRegistration.get('name').invalid" formControlName="name" type="text" id="" placeholder="Nombre o razón social">
        <input [class.is-valid]="establishmentRegistration.get('phone').touched && establishmentRegistration.get('phone').invalid" formControlName="phone" type="text" id="" placeholder="Número telefónico">
        <input [class.is-valid]="establishmentRegistration.get('email').touched && establishmentRegistration.get('email').invalid" formControlName="email" type="text" id="" placeholder="Correo electrónico">
        <input [class.is-valid]="establishmentRegistration.get('username').touched && establishmentRegistration.get('username').invalid" formControlName="username" type="text" id="" placeholder="Username">
        <input [class.is-valid]="establishmentRegistration.get('password').touched && establishmentRegistration.get('password').invalid" formControlName="password" type="password" id="" placeholder="Contraseña">
        
        <label for="Category">Categoría:</label>
        <select formControlName="category" name="Category" id="" [class.is-valid]="establishmentRegistration.get('category').touched && establishmentRegistration.get('category').invalid">
            <option *ngFor="let c of getCategories()" [ngValue]="c" value="Categoría">
                {{ c }}
            </option>
        </select>
        <div class="municipality">
            <label for="Departamento">Departamento:</label>
            <label for="Municipio">Municipio:</label>
        </div>
        <div class="municipality">
            <select formControlName="departments" [class.is-valid]="establishmentRegistration.get('departments').touched && establishmentRegistration.get('departments').invalid" name="Departamento" id="">
                <option *ngFor="let dep of getDepartments()" [ngValue] = "dep" value="Departamento">
                    {{ dep[0] }}
                </option>
            </select>
            <select formControlName="municipalities" [class.is-valid]="establishmentRegistration.get('municipalities').touched && establishmentRegistration.get('municipalities').invalid" name="Municipio" id="">
                <option *ngFor="let m of getMunicipalities()" [ngValue] = "m" value="Municipio">
                    {{ m[0] }}
                </option>
            </select>
        </div>

        <label for="Barrio">Barrio:</label>
        <div class="address">
            <select name="Barrio" formControlName="neighborhoods" [class.is-valid]="establishmentRegistration.get('neighborhoods').touched && establishmentRegistration.get('neighborhoods').invalid">
                <option *ngFor="let n of getNeighborhoods()" [ngValue]="n" value="Barrio">
                    {{ n }}
                </option>
            </select>
            <input formControlName="address" type="text" [class.is-valid]="establishmentRegistration.get('address').touched && establishmentRegistration.get('address').invalid" id="" placeholder="Dirección">
        </div>

        <input [disabled]="establishmentRegistration.invalid" type="submit" value="Submit" class="submit" (click) = "registerEstablishment()">
    </form>
</div>