<section class="container">
    
    <div class="section-title">
        <h1>Tipos de Usuario</h1>
    </div>
    
    <div class="card-group">
        <div class="card">
            <div class="card-head">
                <div class="circle first"></div>
            </div>
            <div class="card-title">
                Ciudadano
            </div>
            <div class="card-body">
                Si usted es una persona natural, es necesario que se registre como ciudadano. Para poder ingresar a los establecimientos públicos dentro del sistema, este registro debe haberse llevado a cabo.
            </div>
        </div>
        <div class="card">
            <div class="card-head">
                <div class="circle second"></div>
            </div>
            <div class="card-title">
                Establecimiento Público
            </div>
            <div class="card-body">
                Las cuentas para establecimientos públicos, buscan dar control al ingreso de los ciudadanos en el establecimiento físico. Si usted es dueño o administrador de un establecimiento público, este es el rol que debe escoger.
                
            </div>
        </div>
        <div class="card">
            <div class="card-head">
                <div class="circle third"></div>

            </div>
            <div class="card-title">
                Entidad de Salud
            </div>
            <div class="card-body">
                Las entidades de salud se encargan de dar información al ciudadano sobre sus exámenes por COVID-19.
            </div>
        </div>


    </div>
    
</section>
