<section class="container">
    
    <div class="section-title">
        <h1>Tipos de Usuario</h1>
    </div>
    
    <div class="card-group">
        <div class="card">
            <div class="card-head">
                <div class="circle first"></div>
            </div>
            <div class="card-title">
                Ciudadano
            </div>
            <div class="card-body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi earum aliquid, voluptatem voluptates saepe qui quae beatae cumque! Quod neque debitis nihil aspernatur deserunt amet enim voluptates ullam sit illo?
            </div>
        </div>
        <div class="card">
            <div class="card-head">
                <div class="circle second"></div>
            </div>
            <div class="card-title">
                Establecimiento Público
            </div>
            <div class="card-body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi earum aliquid, voluptatem voluptates saepe qui quae beatae cumque! Quod neque debitis nihil aspernatur deserunt amet enim voluptates ullam sit illo?
            </div>
        </div>
        <div class="card">
            <div class="card-head">
                <div class="circle third"></div>

            </div>
            <div class="card-title">
                Entidad de Salud
            </div>
            <div class="card-body">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi earum aliquid, voluptatem voluptates saepe qui quae beatae cumque! Quod neque debitis nihil aspernatur deserunt amet enim voluptates ullam sit illo?
            </div>
        </div>


    </div>
    
</section>
