<div class="jumbotron" >
    <h1>Parámetros del sistema</h1>
    <p>Aquí puede crear, modificar y eliminar parámetros del sistema.</p>
</div>

<div class="container">
    <form class="parameters">
        <div class="parameter-container">
            <label for="doc">Documentos:</label>
            <div class="list-container">
                <table>
                    <tr *ngFor="let doc of getDocuments()" >
                        <td>
                            {{ doc }}
                        </td>
                        <td class="button-container">
                            <input (click)="delete_doc(doc)" value="X" type="button" class="delete-doc" title="Eliminar">
                        </td>
                    </tr>
                </table>
            </div>  
            <div [formGroup]="new_document" name="quarantine">
                <input formControlName="new_doc" class="info-input" type="text" placeholder="Nuevo documento">
                <input [disabled]="new_document.invalid" (click)="send_doc()" class="send-info" value="Agregar" type="submit">
            </div>
        </div>
        <div class="parameter-container">
            <label for="categories">Categorías:</label>
            <div class="list-container">
                <table>
                    <tr *ngFor="let cat of getCategories()" >
                        <td>
                            {{ cat }}
                        </td>
                        <td class="button-container">
                            <input (click)="delete_cat(cat)" value="X" type="button" class="delete-doc" title="Eliminar">
                        </td>
                    </tr>
                </table>
            </div>  

            <div [formGroup]="new_category" name="quarantine">
                <input formControlName="new_cat" class="info-input" type="text" placeholder="Nueva categoría">
                <input [disabled]="new_category.invalid" (click)="send_category()" class="send-info" value="Modificar" type="submit">
            </div>
        </div>
        <div class="parameter-container">
            <label for="municipalities">Municipios:</label>
            <div class="list-container">
                <table>
                    <tr *ngFor="let city of getMunicipalities()" >
                        <td>
                            {{ city[0] + " - " + city[1] + " - " + city[2] }}
                        </td>
                        <td class="button-container">
                            <input (click)="delete_municipality(city[1], city[2])" value="X" type="button" class="delete-doc" title="Eliminar">
                        </td>
                    </tr>
                </table>
            </div>  

            <div [formGroup]="municipality_info" name="quarantine">
                <input formControlName="municipality" class="mun-input" type="text" placeholder="Nombre municipio">
                <input formControlName="code" class="mun-input" type="number" placeholder="Código municipio">
                <input formControlName="department" class="mun-input" type="number" placeholder="Código departamento">
                <input (click)="send_municipality()" [disabled]="municipality_info.invalid" class="send-info" value="Modificar" type="submit">
            </div>
        </div>

        <div class="parameter-container">
            <label for="deparments">Departamentos:</label>
            <div class="list-container">
                <table>
                    <tr *ngFor="let dep of getDepartments()" >
                        <td>
                            {{ dep[0] + " - " + dep[1] }}
                        </td>
                        <td class="button-container">
                            <input (click)="delete_department(dep[1])" value="X" type="button" class="delete-doc" title="Eliminar">
                        </td>
                    </tr>
                </table>
            </div> 
            <div [formGroup] = "dep_info" name="quarantine">
                <input formControlName="department" class="dep-input" type="text" placeholder="Nuevo departamento">
                <input formControlName="code" class="dep-input" type="number" placeholder="Código departamento">
                <input (click)="send_department()" [disabled]="dep_info.invalid" class="send-info" value="Modificar" type="submit">
            </div>
        </div>

        <div class="parameter-container">
            <label for="neighborhoods">Barrios:</label>

            <div class="list-container">
                <table>
                    <tr *ngFor="let ngh of getNeighborhoods()" >
                        <td>
                            {{ ngh }}
                        </td>
                        <td class="button-container">
                            <input (click)="delete_neighborhood(ngh)" value="X" type="button" class="delete-doc" title="Eliminar">
                        </td>
                    </tr>
                </table>
            </div>  

            <div [formGroup]="ngh_info" name="quarantine">
                <input formControlName="neighborhood" class="info-input" type="text" placeholder="Nuevo barrio">
                <input (click)="send_neighborhood()" [disabled]="ngh_info.invalid"  class="send-info" value="Modificar" type="submit">
            </div>
        </div>
        <div class="parameter-container">
            <label for="quarantine">Dias de cuarentena: {{ getQuarantine() }}</label>
            <div [formGroup]="quarantine_time" name="quarantine" class="quarantine" >
                <input formControlName="quarantineDays" class="info-input" type="number" placeholder="Días de cuarentena">
                <input [disabled]="quarantine_time.invalid" (click)="modify_quarantine()" class="send-info" value="Modificar" type="submit">
            </div>
        </div>
    </form>
</div>